*{
	box-sizing: border-box;
}
#Banner{
	display: flex;
	flex-direction: column;
	align-items: center;
}
#nav{
	display: flex;
	background-color: gray;
	padding: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#nav a{
	margin-left: 1rem;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	padding-right: 10rem;
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.sideBar{
	display: flex;
	justify-content: space-between;
}
.image{
	width: 55rem;
	height: 25vh;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.image2{
	width: 30rem;
	height: 15vh;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bar{
	display: flex;
	flex-direction: column;
}
footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: gray;
	height: 20vh;
}