body{
    font-family: 'Open Sans', sans-serif !important;
    margin-top: -72px !important;
}
.bg-yellow{
	background-color: #f7c04e !important;
}
.carousel-inner{
	height: 300px;
}
.py-6{
	padding: 150px 0px;
}
.bg-black{
    padding: 150px 0px;
}
.bg-soft-black{
    background-color: #00000099;
}
.pt-6{
    padding-top: 200px;
}
.gradient{
    background: linear-gradient(#ed6670,#f2ad4e);
}
.btn-success{
    background-color: #1db954 !important;
    border-radius: 50px !important;
}
.btn-outline-secondary{
    border-radius: 50px !important;
    color: white !important;
    border: 2px solid white !important;
}
.btn-outline-secondary:hover{
    background-color: #fff !important;
    color: black !important;
}
.green-text{
    color: #1db954 !important;
}
.shadow{
    box-shadow: 0px 2px 5px #999 !important;
}
.bg-black{
    background-color: #000;
}
@media (max-width:992px){
    .display-3{
        font-size: 35px !important;
    }
}